@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  overflow-x: hidden;
  color: #54575a;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #f3f8f7 49.91%,
    #fff9f5 94.19%
  );
}

.wrapper {
  position: relative;
  width: 1440px;
  min-height: 100vh;
  margin: auto;
}

.title {
  position: absolute;
  width: 458px;
  height: 135px;
  left: 221px;
  top: 236px;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 67px;
}

.text {
  position: absolute;
  width: 394px;
  height: 96px;
  left: 221px;
  top: 403px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
}
